@page "/departments"
@inject HttpClient Http
@inject IClinicManagementApiService ApiService
@inject ILogger<Index> Logger

<PageTitle>Clinic Management - Departments</PageTitle>

<div class="row">
    <div class="col">
        <h3>Departments</h3>
    </div>
    <div class="col-1">
        <div class="btn-group mb-3" role="toolbar" aria-label="Toolbar with button groups">
            <a href="department/create" role="button" class="btn btn-success" title="New"><i class="fa-solid fa-plus"></i> New</a>
        </div>
    </div>
</div>

@if (departments == null)
{
    <SpinnerComponent MessageLoading="Loading departments..." MessageNotFound="There are no departments available at the moment" ShowSpinner="showSpinner" />
}
else
{
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th>Name</th>
                    <th class="col-1"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var department in departments)
                {
                    <tr>
                        <td>@department.Name</td>
                        <td>
                            <a href="/department/edit/@department.VanityId" role="button" class="btn btn-secondary" title="Edit"><i class="fa-solid fa-pen"></i></a>
                            <button type="button" class="btn btn-danger" @onclick="() => ShowDeleteModal(department)">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot class="table-light">
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
}

<ModalComponent @ref="modalComponent" PrimaryButtonText="Yes" SecondaryButtonText="No" EventCallback="HandleEventCallbackAsync" />


