@if (isVisible)
{
    <div class="alert alert-@alertType" role="alert">
        @DateTime.Now.ToShortTimeString() - @message
        <button type="button" class="btn-close" aria-label="Close" @onclick="Hide"></button>
    </div>
}
